md-input-container > md-select {
    margin-top: 0;
    padding-bottom: 0; }
md-input-container > md-select > md-select-label {
    width: 100%; }
md-input-container > md-radio-group { 
    padding: 24px 2px 0; }
md-input-container > md-radio-group > md-radio-button { 
    margin: 8px 5px 0;
    display: inline-block; }

.hint {
    /* Position the hint */
    position: absolute;
    left: 2px;
    right: auto;
    bottom: 7px;
    /* Copy styles from ng-messages */
    font-size: 12px;
    line-height: 14px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    /* Set our own color */
    color: grey; }

.currencyinput {
    padding-left: 25px;

}    
.demo-toolbar{
	
}    

md-toast {
z-index: 10000;
}
.md-fixed-top {
position: fixed;
top: 66px; // size of my navbar + 16px
}

.md-fixed-right {
position: fixed;
right: 16px;
}

#borderForm{
     box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);

}

.md-datepicker-input {
    color:white;
}
.md-datepicker-triangle-button .md-datepicker-expand-triangle{
    border-top-color:white;
}
.md-datepicker-input-container{
    border-bottom-color:white;
}

.borderexample
{   
    padding: 3px;
    border-style: solid;
    border-color: #287EC7;
    text-align: center;
    border-width: 1px;
    margin: 10px 0px 10px 20px;
}