md-input-container > md-select {
    margin-top: 0;
    padding-bottom: 0; }
md-input-container > md-select > md-select-label {
    width: 100%; }
md-input-container > md-radio-group { 
    padding: 24px 2px 0; }
md-input-container > md-radio-group > md-radio-button { 
    margin: 8px 5px 0;
    display: inline-block; }

.hint {
    /* Position the hint */
    position: absolute;
    left: 2px;
    right: auto;
    bottom: 7px;
    /* Copy styles from ng-messages */
    font-size: 12px;
    line-height: 14px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    /* Set our own color */
    color: grey; }

.currencyinput {
    padding-left: 25px;

}    
.demo-toolbar{
	
}    