 
<div id="put" style="margin:8px 8px 8px 8px;" >

<md-toolbar>
  <div class="md-toolbar-tools">

  <a flex md-truncate style="font-size: 18px;font-weight: 500;" href="#/viewdeals" >VIEW DEALS {{textAdd}}</a>
  <!--   <md-datepicker ng-model="ctrl.myDate" md-placeholder="Enter date" md-open-on-focus></md-datepicker>
    <md-button>SUBMIT</md-button> -->
  <!-- <md-button class="md-hue-1" ng-click="calanderModelOpen()">View Deals on Date</md-button> -->
  <md-datepicker ng-model="myDate" md-placeholder="Enter date" md-open-on-focus></md-datepicker>
  <md-button class="md-hue-1" ng-click="getDate();">SUBMIT</md-button>
  <md-button class="md-hue-1" href="#/adddeals">Add Deals</md-button>
  <md-button class="md-hue-1" href="#/userratings">User Ratings</md-button>

  </div>
</md-toolbar>  
<div id="borderForm" class="well well-lg bs-loading-container"
  bs-loading-overlay>
 <md-tabs md-dynamic-height md-border-bottom 
  >
      <md-tab label="Live Session">
        <md-content class="md-padding">
         <md-toolbar class="md-table-toolbar md-default" ng-hide="show">
            <div class="md-toolbar-tools">
             <span flex></span>
              <md-button class="md-icon-button" ng-click="refreshLiveData()">
                <md-icon>refresh</md-icon>
              </md-button>
              <md-button class="md-icon-button" ng-click ="changeView()">
                <md-icon>filter_list</md-icon>
              </md-button>
              <md-button class="md-icon-button">
                <md-icon>more_vert</md-icon>
              </md-button>
           
            </div>
          </md-toolbar>   

            <md-toolbar class="md-table-toolbar md-default" ng-show="show">
            <div class="md-toolbar-tools">
            <md-icon class="material-icons">search</md-icon>
             <md-input-container flex>
                <input md-maxlength="30" ng-model="liveSessionSearchText" class="ng-pristine ng-valid ng-touched"  />
                <div class="hint">Search Anything</div>
                </md-input-container>  

              <md-button class="md-icon-button" ng-click ="closeSearchView()">
                <md-icon>close</md-icon>
              </md-button>   

            </div>
          </md-toolbar>   
        
    

          <md-table-container>
  <table md-table >
    <thead md-head md-order="liveOrder">
      <tr md-row>
        <th md-column ><span>Status</span></th>
        <th md-column md-order-by="isFloating"><span>Float</span></th>
        <th md-column ><span>Admin</span></th>
        <th md-column md-order-by="timeFrom">Start Time</th>
        <th md-column md-order-by="timeTo">End Time</th>
        <th md-column md-numeric >Duration</th>
        <th md-column >Client Name</th>
        <th md-column ><span>Subject (Course Name)</span></th>
        <th md-column md-numeric>Tutors Name and Rating</th>
        <!-- <th md-column md-numeric md-order-by="amount">Price Told (₹)</th> -->
        <th md-column md-order-by="priceReceived">Price/Received</th>
        <th md-column >Comment</th>
        
        
        
      
      </tr>
    </thead>
    <tbody md-body >
      <tr ng-click="showAdvancedLive($event,data)" md-row  ng-repeat="data in liveSession  | filter:liveSessionSearchText| orderBy:liveOrder| limitTo: query.limit : (query.page -1) * query.limit">
        <td md-cell><md-button class="md-icon-button">
          <md-tooltip>{{data.statusObj.statusMsg}}</md-tooltip>
          <md-icon style="color:{{data.statusObj.statusColor}};">stop</md-icon> 
          </md-button>
        </td>
        <td md-cell><md-icon style="color:green;" ng-show="data.isFloating">done_all</md-icon>
        <md-icon style="color:red;" ng-hide="data.isFloating">not_interested</md-icon> </td>
        <td md-cell>{{data.adminName}}</td>
        <td md-cell>{{data.timeFromFormat}}</td>
        <td md-cell>{{data.timeToFormat}}</td>
        <td md-cell>{{data.duration}}</td>
        <td md-cell>{{data.clientName}}</td>
        <td md-cell>{{data.subjectName}}</td>

        <td md-cell><div ng-repeat="d in data.contributor">
          <div class="borderexample">{{d.userName}}</div>
          <md-tooltip>Rating is : {{d.rating}}</md-tooltip> 
        </td>
        <!-- <td md-cell>{{data.amount}}</td> -->
        <td md-cell>{{data.amount?data.amount:"0"}} /   {{data.priceReceived ? data.priceReceived:"0"}}</td>
        <td md-cell>{{data.materialComment}}</td>
      </tr>
    </tbody>
  
  </table>
</md-table-container>  
<md-table-pagination md-limit="query.limit" md-limit-options="[3, 6, 9]" md-page="query.page" md-total="{{liveSession.length}}"  md-page-select></md-table-pagination>
         
        </md-content>
      </md-tab>
      <md-tab label="Deadline">
        <md-content class="md-padding">
        <md-toolbar class="md-table-toolbar md-default">
         <div class="md-toolbar-tools">
              <h2 flex md-truncate ng-hide="show">Deadline Deals</h2>
               <md-input-container flex ng-hide="!show">
                <input md-maxlength="30" ng-model="deadlineSearchText" />
                <div class="hint">Search Anything</div>
                </md-input-container>  
                <md-button class="material-icons" ng-click="show=!show">search</md-button>
            </div>

        </md-toolbar>   
        <md-table-container>

  <table md-table >
    <thead md-head md-order="myOrder">
      <tr md-row>
        <th md-column md-order-by="timeTo"><span>End Time</span></th>
        <th md-column ><span>Exam Type</span></th>
        <th md-column ><span>Deal Status Color</span></th>
        <th md-column >Admin Name </th>
        <th md-column >Client Name</th>
        <th md-column >Tutors Assigned</th>
        <th md-column >Subject Name (Course Name)</th>
        <th md-column md-numeric >Price Told (₹)</th>
        <th md-column >Price Received ($)</th>
        <th md-column md-order-by="amount">Amount (₹)</th>
        <th md-column >Comment</th>
      </tr>
    </thead>
    <tbody md-body>
      <tr ng-click="showAdvanced($event,data)" md-row ng ng-repeat="data in deadlineData | filter:deadlineSearchText| orderBy:myOrder | limitTo: query1.limit : (query1.page -1) * query1.limit" >
        <td md-cell>{{data.timeToFormat}}</td>
        <td md-cell>{{data.dealType}}</td>
        <td md-cell><md-button class="md-icon-button">
          <md-tooltip>{{data.statusObj.statusMsg}}</md-tooltip>
          <md-icon style="color:{{data.statusObj.statusColor}};">stop</md-icon> 
          </md-button>
        </td>
        <td md-cell>{{data.adminName}}</td>
        <td md-cell>{{data.clientName}}</td>
        <td md-cell>{{data.ratingArray.length}}</td>
        <td md-cell>{{data.subjectName}} ({{data.courseNumber}})</td>
        <td md-cell>{{data.priceTold}}</td>
        <td md-cell>{{data.priceReceived}}</td>
        <td md-cell>{{data.amount}}</td>
        <td md-cell>{{data.materialComment}}</td>

      </tr>
    </tbody>

  </table>
</md-table-container>    
<md-table-pagination md-limit="query1.limit" md-limit-options="[9, 18, 27]" md-page="query1.page" md-total="{{deadlineData.length}}"  md-page-select></md-table-pagination>

        </md-content>
        </md-tab>
      </md-tabs>  
      </div>


</div>